#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  left: calc(100% - 240px);
  top: 50px;
  position: relative;
  overflow-clip-margin: unset;
}

.photograph-header .photographInfo {
  position: relative;
  bottom: 180px;
  margin-left: 30px;
  width: 40%;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: clamp(32px, 4vw, 64px);
  font-weight: 400;
  height: 35px;
  width: 95%;
 
}

.photograph-header h2 {
  color: var(--primary-color);
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 400;
  height: 24px;
}

.photograph-header h3 {
  color: #525252;
  font-size: clamp(9px, 1.5vw, 18px);
  font-weight: 400;
  margin-top: 20px;
  height: 18px;
}

#media-section {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 380px;
  column-gap: 70px;
  row-gap: 10px;
  padding-bottom: 60px;
  justify-items: center;
  align-items: center;
}

#media-section figure {
  overflow: hidden;
  justify-self: center;
  border-radius: 2%;
}

#media-section figure .div-title-likes {
  position: relative;
  background: white;
  margin-top: -5px;
  padding-top: 5px;
  height: 40px;
}

#media-section figure .likeContainer {
  padding-right: 3px;
}

#media-section figure .div-title-likes .likeHeart {
  padding: 2px 3px 1px 3px;
  outline: none;
  height: 24px;
  transition: 0.15s ease-out;
}
#media-section figure .div-title-likes .likeHeart:hover {
  transform: scale(1.18);
  transition: 0.15s ease-in;
}

#media-section figure .div-title-likes .likeHeart:focus-visible {
  outline: none;
  overflow: hidden;
  transform: scale(1.18);
  transition: 0.15s ease-in;
}

#media-section figure h2,
#media-section figure figcaption {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 400;
}

#media-section figure img,
#media-section figure video {
  height: 350px;
  width: 350px;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2%;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: 0.15s ease-out;
  overflow-clip-margin: unset;
}

#media-section figure img:hover,
#media-section figure video:hover,
#media-section figure img:focus-visible,
#media-section figure video:focus-visible {
  border: 2px solid var(--secondary-color);
  transition: 0.15s ease-in;
}

.custom-select {
  position: absolute;
  top: 330px;
  display: flex;
  z-index: 50;
}

.customSelectWording {
  font-size: 18px;
  font-weight: 700;
}

.custom-select .selected-option {
  background-color: var(--primary-color);
  padding: 10px 15px;
  margin-left: 10px;
  bottom: 10px;
  position: relative;
  color: white;
  width: 101px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.custom-select .selected-option:after {
  font-family: "Font Awesome 6 Free";
  content: "\f078";
  margin-left: 10px;
  font-weight: 900;
  display: inline-block;
  transition: transform 0.3s;
}

.custom-select .selected-option:focus,
.custom-select .selected-option:focus-visible {
  outline: 2px solid var(--secondary-color);
}

.custom-select .options {
  display: none;
  position: relative;
  top: 31px;
  right: 131px;
  background-color: var(--primary-color);
  width: 131px;
  color: white;
  cursor: pointer;
  z-index: 50;
}

.custom-select .options.open {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.62);
}

.custom-select .selected-option.open:after {
  transform: scaleY(-1);
}

.custom-select .option {
  position: relative;
  width: 101px;
  padding: 10px 15px;
  z-index: 50;
}

.custom-select .option:hover,
.custom-select .option:focus-visible {
  background-color: #db8876;
  color: black;
  z-index: 50;
}

.custom-select .option:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 1px;
  bottom: 40px;
  background: white;
  left: 9px;
}

.price-and-like {
  display: flex;
  width: 250px;
  background: #db8876;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  position: fixed;
  bottom: 0;
  right: calc(100vw - 97%);
  padding: 20px 20px 15px 20px;
  justify-content: space-between;
  z-index: 1;
}

.likes,
#priceBlock {
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.fa-heart {
  font-size: 24px;
}

.fa-heart-price {
  margin-left: 5px;
  margin-top: 3px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.15s ease-out;
  position: relative;
  left: calc(50% - 85px);
  bottom: 255px;
}

.contact_button:hover,
.contact_button:focus-visible {
  color: #000000;
  background-color: #db8876;
  transition: 0.15s ease-in;
  outline: none;
}

#contact_modal,
.lightBox_Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.4);
  z-index: 20;
}

.lightBox_Modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: fixed;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 35px 0 35px;
  position: fixed;
  left: 25%;
  top: 35px;
  opacity: 1;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  z-index: 1;
  overflow-y: scroll;
}


 .modal header {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 10px;
}

.modal header img {
  cursor: pointer;
  position: relative;
  left: 98%;
  bottom: 135px;
  height: 30px;
}

.modal header h2 {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}



.title-modal{
  flex-direction: column;
 
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 32px;
  margin-top: 15px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 15px;
  font-family: inherit;
}

form textarea {
  border-radius: 8px;
  width: 99%;
  font-size: 24px;
  padding: 15px 0 0 15px;
  font-family: inherit;
}



#submit_button {
  margin-bottom: 80px;
  border: 1px solid transparent;
  top: 0px;
  left: 0px;
}

#submit_button:hover,
#submit_button:focus-visible {
  border: 1px solid #050505;
}

.lightBoxModalClose {
  position: relative;
  bottom: 46%;
  left: calc(100% - 65px);
  z-index: 4;
  color: var(--primary-color);
  font-size: 42px;
  margin-top: 10px;
  cursor: pointer;
}

.lightBoxContent {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  background: white;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.lightBoxPrev,
.lightBoxNext {
  font-size: 48px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  position: relative;
  color: var(--primary-color);
  transition: 0.15s ease-in;
}

.lightBoxPrev:focus-visible,
.lightBoxNext:focus-visible {
  outline: 2px solid var(--secondary-color);
  border-radius: 10%;
  transition: 0.15s ease-out;
}

.lightBoxNext {
  margin: 0 30px 0 10px;
  padding-right: 4px;
}

.lightBoxPrev {
  margin: 0 10px 0 30px;
  padding-left: 4px;
}

.lightBoxPicture {
  height: 100%;
  background: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.lightBoxPictureSource,
.lightBoxPicture video {
  z-index: 3;
  margin-top: 20px;
  max-width: 100%;
  max-height: 92vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.lightBoxPictureCaption {
  font-size: 22px;
  text-align: left;
  margin-top: 15px;
  outline: 2px solid transparent;
  border-radius: 5px;
  padding: 1px 5px;
  transition: 0.15s ease-in;
  color: #901c1c;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .photograph-header h1 {
    color: #d3573c;
    font-size: clamp(32px, 4vw, 64px);
    font-weight: 400;
    height: 35px;
    width: 95%;
    padding-bottom: 30px;
    margin-left: 0;
  }

  .photograph-header img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
    left: calc(100% - 210px);
    top: 50px;
    position: relative;
    overflow-clip-margin: unset;
  }

  .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease-out;
    position: relative;
    left: 0;
    bottom: 160px;
    margin-left: 30px;
  }

  #media-section {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 380px;
    column-gap: 70px;
    row-gap: 10px;
    padding-bottom: 60px;
    justify-items: center;
    align-items: center;
  }


}

@media (min-width: 350px) and (max-width: 599px) {

  .contact_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease-out;
    position: relative;
    left: 0;
    bottom: 150px;
    margin-left: 30px;
  }

  .modal header img {
  
    bottom: 95px;
    height: 30px;
  }

  .modal header h2 {
    font-size: 25px;
  
  }
  .photograph-header h1 {
    margin-left: 0;
    margin-top: 15px;
  }

  #media-section {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 380px;
    column-gap: 70px;
    row-gap: 10px;
    padding-bottom: 60px;
    justify-items: center;
    align-items: center;
  }

  .photograph-header h2 {
    color: var(--primary-color);
    font-size: clamp(12px, 2vw, 24px);
    font-weight: 400;
    height: 24px;
    padding-top: 25px;
  }

}